/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}*/

:root {
  --main-purple-color: #c8b8db;
  --secondary-blue-color: #3066be;
  --primary-text-color: #3c3744;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  background-color: var(--main-purple-color);
  color: var(--primary-text-color); 
  min-height:100vh;
}

.body {
  margin: 5% 10% 0%;
}

.body h1 {
  margin-bottom: 1em;
}

/* SEARCH */
.searchbar-container {
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
  flex-wrap: wrap;
}

@media screen and (max-width: 875px) { .searchbar {flex-direction: column;} }

.align-to-end {
  display: flex;
  align-items: flex-end;
}

.group-margin {
  margin-bottom: 1rem;
}

.tabs {
  display: flex;
  justify-content: center;
  padding-top: 2.5em;
  font-size: 20px;
}
